HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

/logs/

# application-local.yaml은 더 이상 gitignore 안 함 (시크릿 정보 없음)
application-test.yaml
application-deploy.yaml
application-staging.yaml
application-secret.yaml

### FCM ###
src/main/resources/firebase/*.json

README-SECRET.md

### Docker & CI/CD ###
.env
docker-compose.override.yml

### AWS ###
config/firebase/