<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>왼쪽 메뉴</title>
    <link rel="stylesheet" href="/css/left-menu.css">
</head>
<body>
    <div class="left-menu">
        <h5>내 계정</h5>
        <ul class="list-unstyled">
            <li><a href="#" id="profileMenu">프로필</a></li>
            <li><a href="#" id="myPostsMenu">내가 작성한 게시글</a></li>
            <li><a href="#" id="savedPostsMenu">내가 저장한 게시글</a></li>
        </ul>
    </div>
    <script src="/js/left-menu.js"></script>
</body>
</html>
