<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Push Notifications</title>
    <link rel="stylesheet" href="../../static/css/notification.css">
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.7.1/firebase-messaging.js"></script>
</head>
<body>

<!-- Toast Container (오른쪽 하단) -->
<div id="toastContainer" class="toast-container position-fixed bottom-0 end-0 p-3"></div>

<script src="../../static/js/webPush.js"></script>

</body>
</html>
