/* 게시글 상세 페이지 스타일 */
.page-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
}

.post-info {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-details {
    margin-left: 15px;
}

.post-details h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.post-details p {
    font-size: 0.9rem;
    color: #555;
}

.post-meta {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.post-meta p {
    margin-right: 20px;
    font-size: 0.9rem;
}

.like-toggle button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}

.like-toggle button.active {
    background-color: #007bff;
    color: #fff;
}

.like-toggle button.active .bi-heart {
    color: red;
}

#save-btn {
   display: flex;
   align-items: center;
   font-size: 1rem;
   padding: 5px 10px;
   cursor: pointer;
}

.save-toggle button.active {
    background-color: #007bff;
    color: #fff;
}

.save-toggle button.active .bi-bookmark {
    color: blue;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag-item {
    background-color: #f1f1f1;
    color: #333;
    padding: 6px 12px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
}

#post-content {
    font-size: 1.0rem;
    line-height: 2.0;
    max-height: 500px;
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.post-content p {
    margin-bottom: 1.5rem;
    word-wrap: break-word;
}

hr {
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
}

.comments-section h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.comment-list {
    margin-top: 20px;
}

.comment-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    position: relative;
}

.comment-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-item .comment-details {
    margin-left: 15px;
}

.comment-item .comment-details p {
    margin: 0;
}

.comment-item .comment-meta {
    display: flex;
    align-items: center;
}

.comment-form {
    width: 100%;
    display: flex;
    align-items: center;
}

.comment-form textarea {
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.comment-form button {
    width: 15%;
    font-size: 1rem;
    padding: 10px;
    margin-left: 20px;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 수정, 삭제 버튼 */
.comment-item .comment-actions {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 10px;
}

.comment-item .comment-actions button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #007bff;
    cursor: pointer;
}

.comment-item .comment-form {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.comment-item .comment-form textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.comment-item .comment-form button {
    width: 100%;
}
